.icon-input input, .icon-input select {
	background-color: hsl(220, 25%, 18%);
	padding: 0.5em 0.5em;
}

.icon-input {
	background-color: hsl(220, 25%, 18%);
	border-radius: 1em;
	align-items: center;
	padding: 0 0.5em;
}

#sheet-name {
	display: none;
}

#nav {
	background-color: hsl(220, 25%, 15%);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#header {
	background-color: hsl(220, 25%, 15%);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#location-header {
	color: hsl(220, 0%, 50%);
	font-size: 1.5em;
	text-align: center;
}

#new-device-asset {
	width: 8em;
}



/* LOCATION STYLE */

.location {
	background-color: hsl(220, 25%, 20%);
	border: 1px solid transparent;
	font-size: 1em;
	border-radius: 0.5em;
	padding: 1em 0.5em;
	cursor: pointer;

	transition: background-color 0.15s ease-in-out;
}

.location:hover {
	background-color: hsl(220, 25%, 22%);
}

.location.selected {
	background-color: hsl(220, 25%, 24%);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.location.selected .location-name,
.location:not(.selected) .location-input-holder {
	display: none;
}

.location-input-holder, .location-input-holder input {
	background-color: hsl(220, 25%, 27%);
}

.location-input, .location-name {
	padding: 0.5em 1em;
	width: 8em;
}

.location-count {
	border: 1px solid #909090;
	border-radius: 1em;
	color: #909090;
	font-size: 0.75em;
	padding: 0.25em 0.5em;
}



/* DEVICE STYLE */

#device-list {
	display: inline;
	padding: 0 3em;
	text-align: center;
}

.device {
	background-color: hsl(220, 0%, 17%);
	border-radius: 1em;
	display: inline-flex;
	margin: 0.25em;

	transition: all 0.15s ease-in-out;
}

.device input,
.device select {
	background-color: hsl(220, 0%, 17%);
	border-radius: 1px;
	padding: 0.25em 0.5em;
}

.device-asset {
	width: 6em;
}